@font-face {
    font-family: 'HeptaSlab';
    src: url('../font/HeptaSlab/HeptaSlab-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Mansalva';
    src: url('../font/Mansalva/Mansalva-Regular.ttf');
}
@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: url('../font/Roboto_Condensed/RobotoCondensed-Bold.ttf');
}
@font-face {
    font-family: 'RobotoCondensed-Regular';
    src: url('../font/Roboto_Condensed/RobotoCondensed-Regular.ttf');
}

body {
    font-family: 'HeptaSlab';
    font-variation-settings: "wght" 300;

    width: 98vw;
    height: 100vh;

    overflow: hidden;

    display: grid;
    grid-template-columns: [full] auto;
    grid-template-rows: [header] 50px [main] auto [footer] 50px;
}

#header {
    grid-column-start: full;
    grid-column-end:   full;
    grid-row-start:    header;
    grid-row-end:      header;

    display: grid;
    grid-template-columns: [logo] 100px [main] 2fr [menu] 1fr;
    grid-template-rows: auto;

    margin-top:    5px;
    margin-left:  25px;
    margin-right: 25px;
}

#header-logo {
    height: 30px;
}
#header-left {
    grid-column-start: 1;
    grid-column-end:   1;
    grid-row-start:    1;
    grid-row-end:      1;    
}
#header-middle {
    grid-column-start: 2;
    grid-column-end:   2;
    grid-row-start:    1;
    grid-row-end:      1;
}

#header-right {
    grid-column-start: 3;
    grid-column-end:   3;
    grid-row-start:    1;
    grid-row-end:      1;

    display: flex;
    flex-direction: row-reverse;

}
#content {
    grid-column-start: full;
    grid-column-end:   full;
    grid-row-start:    main;
    grid-row-end:      main;

    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: scroll; /* Add vertical scrollbar */
    
    padding-left:  max(15%, 25px);
    padding-right: max(15%, 25px);
}
#footer {
    grid-column-start: full;
    grid-column-end:   full;
    grid-row-start:    footer;
    grid-row-end:      footer;
}

.footerdiv {
    font-family: 'RobotoCondensed-Regular';
    color: rgba(58,72,160, 0.5);
    padding-top: 15px;
    font-size: 10pt;
}
#copyright {
    float: left;
    margin-left: 20px;
}
#footerdingbat {
    float: right;
    margin-right: 30px;
}

.nav-link {
    width: 50px;
    text-align: center;
}
.centered {
    text-align: center;
}

hr.metadata-sep {
  border: 1px solid rgb(58,72,160);
}

.metadata-after {
    color: rgb(58,72,160);
    font-size: smaller;
    text-align: right;
}

a {
    color: rgb(58,72,160);
}

a:visited {
    color: rgb(58,72,160);
}


h1, h2, h3, h4, h5 {
    font-family: 'RobotoCondensed-Bold';
}

h2#maintitle {
    margin-bottom: 5px;
}

.handwritten {
    font-family: 'Mansalva';
}

ul.entrylist {
    list-style-image: url('../image/hand-drawn-diamond-cropped-13-wide.png');
    margin-top: 8px;
}

ul.entrylist li {
    padding-left: 4px;
    margin-bottom: 5px;
}

ul.entrylist a {
    font-family: 'Mansalva';
    /* font-variation-settings: "wght" 500; */
    /* font-family: 'RobotoCondensed-Bold'; */
    font-size: 16pt;
}

.weight500 {
    font-variation-settings: "wght" 500;
}

.verticalspace {
    padding-top: 20px;
    padding-bottom: 20px;
}

img.wideimages {
    width: 100%;
}

.wideimages img {
    width: 100%;
}

.nav-link {
    text-decoration: none;
}
	

/**
 * Modified from file generated by Wakamai Fondue - https://wakamaifondue.com
 * by Roel Nieskens/PixelAmbacht - https://pixelambacht.nl
 *
 * Variable instances 
 */
.font-hairline {
    font-variation-settings: "wght" 1;
}

.font-thin {
    font-variation-settings: "wght" 100;
}

.font-extralight {
    font-variation-settings: "wght" 200;
}

.font-light {
    font-variation-settings: "wght" 300;
}

.font-regular {
    font-variation-settings: "wght" 400;
}

.font-medium {
    font-variation-settings: "wght" 500;
}

.font-semibold {
    font-variation-settings: "wght" 600;
}

.font-bold {
    font-variation-settings: "wght" 700;
}

.font-extrabold {
    font-variation-settings: "wght" 800;
}

.font-black {
    font-variation-settings: "wght" 900;
}

.entrytext p {
    line-height: 200%;
}
.entrytext li {
    line-height: 175%;
    padding-bottom: 15px;
}
.abouttext p {
    line-height: 200%;
    font-size: smaller;
    font-variation-settings: "wght" 400;
}

/* modified from https://geoffruddock.com/math-typesetting-in-hugo/ */
code.has-jax, code.language-mathjax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}


.footnotes ol li p {
    display: inline;
}
